#配置cf信息，用于lego申请证书
CLOUDFLARE_EMAIL=you@example.com
CLOUDFLARE_API_KEY=yourprivatecloudflareapikey
DOMAIN=example.org
WILDCARD_DOMAIN=*.example.com

#配置nginx
NGINX_DIR=/mnt/nginx

#配置伪装网站
WEB_DIR=/mnt/www

#配置ssl证书目录
CERTS_DIR=/mnt/certs